.presentacion{  /*  Sirve para dar un tamaño al div de la presentacion */
    background-color: lightgrey;
    width: 485px;
    height: 550px;
    float: left;
    position: absolute;
}

#logo{ /* Sirve para la posición de la foto*/ 
    left: 125px;
    top: 150px;  
    position: relative;  
}

.trama{/* Posicionamos el tema a la derecha de los datos */
    position: absolute;
    left: 490px;

    height: 670px;
}

.presentacion p{
    position: relative;
    font-weight: bold;
    padding: 25px;
    top: 150px;   
}

#estudios{
    position: relative;
    top: 600px;
    padding: 10px;
}